<h3 class='recipe-cards__heading'><%= heading %></h3>
<div class="recipe-cards__list">
  <% if recipes.any? %>
    <%=
      render(
        partial: 'components/recipe_cards/card',
        collection: recipes,
        as: :recipe,
      )
    %>
  <% else %>
    No Recipes
  <% end %>
</div>
