<h1> Edit <%= @recipe.name.capitalize %> </h1>

<%= render partial: 'form' %>

<%= link_to 'Delete', @recipe, method: :delete %></div>

<!-- #select ingredients from ingredient model
#on the edit page of the recipe
#submit chosen ingredients and add them to recipe ingredient database. -->
