<h2>Mac and Cheese Supreme</h2>
<div class="ui grid">
  <div class="four wide column">
    <div class="ui fluid vertical menu">
      <a class="active fluid item">
        Recipe
      </a>
    </div>
  </div>
  <div class="twelve wide stretched column">
    <div class="ui segment">

      <div class="ui big form">
        <div class="field">
          <label>Name</label>
          <input type="text" value='Mac and Cheese Supreme'>
        </div>

        <div class="field">
          <label>Description</label>
          <textarea>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, ratione cupiditate eligendi! Veritatis aliquam, culpa rerum ipsum beatae officiis adipisci voluptatum quisquam dolorem hic architecto reiciendis molestiae quia! Assumenda, perferendis.
Velit, repellat adipisci magni consequuntur, voluptate obcaecati fugit dicta illo illum fuga molestiae, sunt expedita! Autem ipsum, amet assumenda excepturi possimus nisi, fuga exercitationem natus, quas quae, nihil ipsam veritatis.
Iusto aspernatur sed dolor fugit! Adipisci et illo nobis. Incidunt, vero earum, repellendus eius ab doloribus reiciendis eveniet ratione numquam neque exercitationem optio, recusandae nihil sequi qui iure explicabo fuga!
          </textarea>
        </div>

        <div class="ui grid">
          <div class="twelve wide column">
            <button class="ui positive fluid button">Save Recipe</button>
          </div>
          <div class="four wide column">
            <button class="ui basic red fluid button">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
