<h1>All Recipes! </h1>

<% @recipes.each do |recipe| %>
  <div>
    <%= link_to(recipe.name, recipe_path(recipe.id)) %>
  </div>
<% end %>
<br>
<br>

<%= link_to 'New', new_recipe_path %>
<%= link_to 'Back', root_path %>
