<h1><%= @user.display_name %></h1>

<div class="ui divider"></div>

<% if @user === current_user %>
  <%= button_to "Edit", edit_user_path(current_user), class: 'ui button', method: :get %>
<% end %>
