* {
  box-sizing: border-box;
  font-family: 'Open Sans';
}

a {
  text-decoration: none;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans';
}

// body {
//   background: asset_url('bg');
//   background-color: $primary;
//
//   font-family: "Open Sans"
// }

.logo {
  @include text-border(4px, fade-out($white, 0.8));
  @include anchor-color($primary);
  font-size: 2.5em;

  font-family: pacifico;
  margin: 0;
  padding: 0;
  position: relative;
  display: inline-block;
  width: 4.1em;
  line-height: 1.5em;
  text-decoration: none;

  @keyframes flight-of-the-bumblebee {
      0% {
        top: -0.1em;
      }

      25% {
        transform: rotate(5deg);
      }

      50% {
        top: 0em;
      }

      75% {
        transform: rotate(-5deg);
      }

      100% {
        top: -0.1em;
      }
  }

  .bee-icon {
    width: 24px;
    position: absolute;
    right: 0em;

    animation: flight-of-the-bumblebee;
    animation-duration: 1200ms;
    animation-direction: normal;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
  }
}
